<div data-ng-controller="ContatosController as contatos" data-ng-init="contatos.iniciar()">
    <div class="jumbotron">
        <h1 class="text-center">Bem-vindo ao Mean App</h1>
    </div>
    <button class="btn btn-primary" data-ng-click="contatos.incrementar()">Novo</button>
    <p>Contatos cadastrados: <span data-ng-bind="contatos.total"></span></p>
    <div class="form-group">
        <input class="form-control" 
               data-ng-model="contatos.filtro" 
               type="search" 
               placeholder="Nome" />
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th class="text-center">Ações</th>
            </tr>
            <tr data-ng-repeat="contato in contatos.cadastrados | filter: contatos.filtro">
                <td>
                    <span data-ng-bind="contato.nome"></span>
                </td>
                <td>
                    <span data-ng-bind="contato.email"></span>
                </td>
                <td class="text-center">
                    <button class="btn btn-danger">
                        Remover
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
